streamlit>=1.22.0
google-generativeai>=0.3.0
stability-sdk>=0.4.0
protobuf>=3.20.0
Pillow>=9.0.0
gTTS>=2.3.0
PyPDF2>=3.0.0
emoji>=2.0.0
transformers>=4.0.0
speechrecognition>=3.10.0
streamlit-webrtc>=0.45.0
pydub>=0.25.1
numpy>=1.24.0
